<footer class="site-footer container medium">
    {{> customize/subscribe}}
    {{#is "post"}}
        <div id="remark42" style="margin-top: 2rem"></div>
    {{/is}}
</footer>

{{^is "post"}}
    {{> player is_external=true}}
{{/is}}