<footer class="site-footer container medium">
    {{> customize/subscribe}}
    {{#is "post"}}
        <div id="remark42" style="margin-top: 2rem"></div>
    {{/is}}
    <div class="copyright">
        Авторы и гости высказывают свое профессиональное и исключительно субъективное мнение. Смиритесь с тем, что оно может не совпадать с вашим мнением, и наслаждайтесь ❤️
    </div>
</footer>

{{^is "post"}}
    {{> player is_external=true}}
{{/is}}