<footer class="site-footer container medium">
    {{> customize/subscribe}}
    <div class="copyright">
        Сделано с любовью ❤️
    </div>
</footer>

{{^is "post"}}
    {{> player is_external=true}}
{{/is}}