<footer class="site-footer container medium">
    {{#is "post"}}
        <div class="copyright">
            Авторы и гости высказывают свое профессиональное и исключительно субъективное мнение. Смиритесь с тем, что оно может не совпадать с вашим мнением, и наслаждайтесь ❤️
        </div>
        <div id="remark42" style="margin-top: 2rem"></div>
    {{ else }}
        {{> customize/subscribe}}
        <div class="copyright">
            Авторы и гости высказывают свое профессиональное и исключительно субъективное мнение. Смиритесь с тем, что оно может не совпадать с вашим мнением, и наслаждайтесь ❤️
        </div>
    {{/is}}
</footer>

{{^is "post"}}
    {{> player is_external=true}}
{{/is}}