<footer class="post-footer">
    <a class="button-text post-footer-more" href="{{url}}">
        <i class="icon icon-chevron-right"></i>
        Открыть выпуск
    </a>
    <a class="button-text post-footer-more" href="{{url}}#comments">
        <i class="icon icon-chevron-right"></i>
        Обсудить
    </a>
</footer>